html{
    font-family:'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    font-size:12px;
    color: #4d4d4d;
}

body {
    width:90%;
    min-width:950px;
    max-width:1024px;
    margin-top:0;
    padding-bottom: 50px;
}

p{
    padding-bottom:10px;
    font-size:1.3em;
}

#BodyContainer{
    margin-bottom: 50px;
}

.badMessages{
    border-color: red;
    background: tomato;
    color: #e6e6e8;
    padding:15px;
}

.badMessages:empty{
    display:none;
}

.goodMessages{
    border-color: greeg;
    background: olivedrab;
    color: #e6e6e8;
    padding:15px;
}

.goodMessages:empty{
    display:none;
}

.datatable table,
.datatable tr,
.datatable td{
    padding:5px;
}

.newrow{
    font-style: italic;
    font-size: .9em;
}

input[type="text"],
input[type='date'],
select
{
    width:250px;
    text-align:left;
}

input,
select{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin:0;
    padding:0;
    border:1px solid gray;    
}

#Header,
#Footer{
    background-image:url('../images/background.jpg');
    background-repeat:repeat-x;
    width:100%;
    
}
#Header{
    height:117px;
}
#Footer{
    position:fixed;
    bottom:0;
    left:0;
    height:35px;
    line-height:35px;
    color:#272727;
    background-color: #888888;
    border-top: 1px solid #ACB2B8;
}
#Container{
    background-color:#f0f1f2;
}
#BodyContainer{
    margin-left:50px;
    margin-right:50px;
    background-color:#f9f9f9;
}

#NavigationContainerContent ul{
    margin:0;
    padding-left:5px;
}
#NavigationContainerContent li{
    list-style-type:none;
}
#NavigationContainerContent li.Selected{
    border-top:solid 1px #ccc;
    border-left:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    background-color:white;

    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;

    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}
#NavigationContainerContent a {
    text-decoration:none;
    color:#666666;
}
#NavigationContainerContent a:hover {
    color:#272727;
}
#EmployeeContainer,
#GenericContainer {
    padding:20px;
    background-color:#fff;
    min-height:200px;
}
#EmployeeContainer table,
#GenericContainer table{
    width:70%;
}
#EmployeeContainer table label,
#GenericContainer table label{
    float:right;
    padding-right:10px;
}

#EmployeeContainer,
#GenericContainer,
#Container,
.PageMessage,
.BorderRadius,
.BorderRadiusAll,
.BorderRadiusBottom,
.BorderRadiusTop{
    border: 1px solid #cccccc;

    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
}
.BorderRadiusAll{
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
#EmployeeContainer,
#GenericContainer,
#Container,
.BorderRadiusBottom{
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
#Footer,
.BorderRadiusTop{
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.HeaderText{
    font-weight:bold;
    font-size:13px;
}
.SmallText{
    font-size:10px;
}
.LargePadding{
    padding:10px;
}
.SmallPadding{
    padding:4px;
}
.FloatLeft{
    float:left;
}
.FloatRight{
    float:right;
}

.TopBottomPadding{
    padding-top:5px;
    padding-bottom:5px;
}

.ContainerBar {
    background: #f4f3f1;
    border-bottom: 1px solid #e6e3e1;
    border-top: 1px solid #e6e3e1;
    line-height: 16px;
    margin: 15px -20px 0;
    overflow: hidden;
    padding: 12px 20px;
}


.EmployeeNavigationContainer,
.GenericNavigationContainer{
    background: -webkit-linear-gradient(top, #e6e6e8, #d6d6d6);
    padding:10px;
    height:20px;
}
.EmployeeNavigationContainer ul,
.GenericNavigationContainer ul{
    margin:0;
}
.EmployeeNavigationContainer li,
.GenericNavigationContainer li{
    color: #808080;

    display:inline;
    padding:8px;
}
.EmployeeNavigationContainer a,
.GenericNavigationContainer a {
    color:#666666;
}

.SectionMessageArea{
    float:right;
    border-left:solid 1px #ccc;
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    background: -webkit-linear-gradient(top, #f1f1f1, #d6d6d6);
    margin: 0px -20px 0;
    overflow: hidden;
    padding:6px;

    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}
.Required{
    color:#990000;
    font-weight:bold;
}
.PageMessage{
    background-color:#990000;
    font-weight:bold;
    font-size:12px;
    padding:10px;
    margin-bottom:10px;
}
.PageMessage span,
.PageMessage li{
    color:#f1f1f1;
}

.ListStyle{
    border:solid 1px #d6d6d6;

    border-spacing:0px;
    border-collapse:separate;
}
.ListStyle th{
    border-left:solid 1px #d6d6d6;
    border-right:solid 1px #d6d6d6;
    border-bottom:solid 1px #d6d6d6;
    padding:5px;
    background: -webkit-linear-gradient(top, #f1f1f1, #d6d6d6);
}
.ListStyle td{
    padding:5px;
}
.ListStyleAlternate {
    background: #f4f3f1;
    border-bottom: 1px solid #e6e3e1;
    border-top: 1px solid #e6e3e1;
}
.CenterText{
    text-align:center;
}

.Clear{
    clear: both;
}

.ui-menu { overflow: hidden;}
.ui-menu .ui-menu { overflow: visible !important; }
.ui-menu > li { float: left; display: block; width: auto !important; }
.ui-menu > li { margin: 5px 5px !important; padding: 0 0 !important; }
.ui-menu > li > a { float: left; display: block; clear: both; overflow: hidden;}
.ui-menu .ui-menu-icon { margin-top: 0.3em !important;}
.ui-menu .ui-menu .ui-menu li { float: left; display: block;}

.ui-widget-overlay
{
  opacity: .80 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=80) !important;

  background-color: rgb(50, 50, 50) !important; /* This will make it darker */
}

/* Navigation */

#navHolder {
    width: 90%;
    min-width: 150px;
    height:35px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 9999999;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
}

.subNavHolder {
    height:35px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 9999999;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
}

#navHolder ul {
	position: relative;
	z-index: 9999999;
        height:35px;
        margin:0px;
}

#navHolder ul#mainNav li {
	display:inline;
	float:left;
}


#navHolder ul#mainNav li a {
	height: 35px;
	display: block;
	font-size: 0px;
	text-indent:-1500px;
	background-repeat: no-repeat;
	background-position: top left;
}

#navHolder ul#mainNav li a:hover {
	background-repeat: no-repeat;
	background-position: top left;
}

#navHolder ul#mainNav li.first a {
}

#navHolder ul#mainNav li#home a {
	background-image:url(images/home.png);
	width:99px;
        text-indent: -1500px;           
}

#navHolder ul#mainNav li#hrdata a {
	background-image:url(images/aston_hr.png);
	width:99px;
        text-indent: -1500px;           
}

.Highlight {
color: #fff;
background: #aaa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}